.netless-window-manager-playground {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    user-select: none;
}

.netless-window-manager-sizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
}

.netless-window-manager-sizer-horizontal {
    flex-direction: column;
}

.netless-window-manager-sizer::before,
.netless-window-manager-sizer::after {
    flex: 1;
    content: "";
    display: block;
}

.netless-window-manager-chess-sizer::before,
.netless-window-manager-chess-sizer::after {
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%),
        linear-gradient(-45deg, #b0b0b0 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #b0b0b0 75%),
        linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-color: #fff;
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.netless-window-manager-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.netless-window-manager-main-view-wrapper {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

.netless-window-manager-main-view-wrp {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1;
}

.netless-window-manager-main-view-wrapper-shadow {
    opacity: 0;
    z-index: -1;
}

.netless-window-manager-main-view {
    width: 100%;
    height: 100%;
}



.netless-window-manager-cursor-pencil-image {
    width: 26px;
    height: 26px;
}

.netless-window-manager-cursor-eraser-image {
    width: 26px;
    height: 26px;
}

.netless-window-manager-cursor-selector-image {
    width: 24px;
    height: 24px;
}

.netless-window-manager-cursor-selector-avatar {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin-bottom: 2px;
}

.netless-window-manager-cursor-selector-avatar img {
    width: 12px;
}

.netless-window-manager-cursor-inner {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
}

.netless-window-manager-cursor-inner-mellow {
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}

.netless-window-manager-cursor-tag-name {
    font-size: 12px;
    margin-left: 4px;
    padding: 2px 8px;
    border-radius: 4px;
}

.netless-window-manager-cursor-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: 2147483647;
    left: 0;
    top: 0;
    will-change: transform;
    transition: transform 0.12s;
    transform-origin: 0 0;
    user-select: none;
    pointer-events: none;
}

.netless-window-manager-cursor-pencil-offset {
    margin-left: -20px;
}

.netless-window-manager-cursor-selector-offset {
    margin-left: -22px;
    margin-top: 56px;
}

.netless-window-manager-cursor-text-offset {
    margin-left: -30px;
    margin-top: 18px;
}

.netless-window-manager-cursor-shape-offset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 180px;
    height: 64px;
    margin-left: -30px;
    margin-top: 12px;
}

.netless-window-manager-cursor-laserPointer-image {
    margin-left: -22px;
    margin-top: 3px;
}

.netless-window-manager-cursor-pencilEraser-image {
    margin-left: -22px;
    margin-top: 3px;
}

.netless-window-manager-laserPointer-pencilEraser-offset {
    margin-left: -18px;
}

.netless-window-manager-pencilEraser-3-offset {
    margin-top: -14px;
    margin-left: -6px;
}

.netless-window-manager-cursor-name {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
}

.cursor-image-wrapper {
    display: flex;
    justify-content: center;
}

.telebox-collector-wrp {
    position: fixed;
    left: 2vw;
    bottom: 8vw;
}
.telebox-collector {
    position: relative;
}

.netless-iframe-brdige-hidden {
    display: none;
}

.netless-window-manager-fullscreen .telebox-titlebar,
.netless-window-manager-fullscreen .telebox-max-titlebar-maximized,
.netless-window-manager-fullscreen .netless-app-slide-footer,
.netless-window-manager-fullscreen .telebox-footer-wrap,
.netless-window-manager-fullscreen .telebox-titlebar-wrap,
.telebox-maximized .telebox-titlebar,
.telebox-maximized .telebox-max-titlebar-maximized,
.telebox-maximized .netless-app-slide-footer,
.telebox-maximized .telebox-footer-wrap,
.telebox-maximized .telebox-titlebar-wrap {
    display: none;
}

.netless-window-manager-fancy-scrollbar {
    overscroll-behavior: contain;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: auto;
}


.netless-window-manager-fancy-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.netless-window-manager-fancy-scrollbar::-webkit-scrollbar-corner {
    background-color: none;
}

.netless-window-manager-fancy-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(27, 31, 77, .3);
    border-radius: 3px;
    height: 6px;
    width: 6px;
}


.netless-window-manager-fancy-scrollbar::-webkit-scrollbar-thumb:vertical {
    min-height: 50px;
}

.netless-window-manager-fancy-scrollbar::-webkit-scrollbar-thumb:horizontal {
    min-width: 50px;
}

.netless-window-manager-fancy-scrollbar-readonly::-webkit-scrollbar {
    display: none;
}
.appliance-plugin-hightlight-box {
    border-color: rgba(57, 171, 255, 1) !important;
}
.appliance-plugin-hightlight-box .point {
    background-color: white !important;
    border:1px solid rgba(57, 171, 255, 1) !important;
    border-radius: 100%;
}
.is-cursor-laserPointer .netless-whiteboard{
    cursor: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGZpbHRlciB4PSItMTIwJSIgeT0iLTEyMCUiIHdpZHRoPSIzNDAlIiBoZWlnaHQ9IjM0MCUiIGZpbHRlclVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgaWQ9ImEiPjxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjQiIGluPSJTb3VyY2VHcmFwaGljIi8+PC9maWx0ZXI+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkgOSkiIGZpbGw9IiNGRjAxMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGNpcmNsZSBmaWx0ZXI9InVybCgjYSkiIGN4PSI1IiBjeT0iNSIgcj0iNSIvPjxwYXRoIGQ9Ik01IDhhMyAzIDAgMSAwIDAtNiAzIDMgMCAwIDAgMCA2em0wLTEuNzE0YTEuMjg2IDEuMjg2IDAgMSAxIDAtMi41NzIgMS4yODYgMS4yODYgMCAwIDEgMCAyLjU3MnoiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48L3N2Zz4=) 14 14, auto !important;
}
.force-none {
    display: none;
}

.teacher-laser-pointer {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url('./image/cursor-clicker.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 10000;
    display: none;
    transform: translate(-50%, -50%);
}

.teacher-current-pointer {
    cursor: url('./image/cursor-clicker.png') 40 40, auto !important;
    /* pointer-events: auto; */
}
.teacher-current-pointer-enevnt-auto {
    /* pointer-events: auto !important; */
}